@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Righteous", sans-serif;
}

.text-rollable:hover, .text-rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.box-rollable:hover, .box-rollable:focus {
  color: #000;
  -webkit-box-shadow: 0 0 10px red;
  box-shadow: 0 0 10px red;
  cursor: pointer;
}

.item-edit:hover, .item-edit:focus,
.item-delete:hover,
.item-delete:focus {
  color: #000;
  text-shadow: 0 0 10px blue;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.actor-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: auto;
  justify-items: stretch;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin: 5px 0;
  padding: 0;
}

.actor-grid .listes {
  grid-column: 1 / 5;
}

.actor-grid .combat {
  grid-column: 5 / 7;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-center-vertical {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Styles limited to Nanochrome sheets */
.nanochrome .item-form {
  font-family: "Righteous", sans-serif;
}

.nanochrome .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.nanochrome .sheet-header .profile-img {
  width: 128px;
  height: 128px;
  margin-right: 10px;
  background-color: black;
}

.nanochrome .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nanochrome .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.nanochrome .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nanochrome .sheet-header .fitHeader {
  height: 100%;
}

.nanochrome .sheet-header textarea {
  width: calc(100% - 2px);
  min-height: 128px;
}

.nanochrome h3 {
  font-weight: bold;
  text-transform: uppercase;
}

.nanochrome .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.nanochrome .tox .tox-editor-container {
  background: #fff;
}

.nanochrome .tox .tox-edit-area {
  padding: 0 8px;
}

.nanochrome .caracteristiques {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.nanochrome .caracteristique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nanochrome .caracteristique input {
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: 0;
  background: -o-linear-gradient(grey, grey) top/calc(100% - 30px) 1px, -o-linear-gradient(grey, grey) bottom/calc(100% - 30px) 1px, -o-linear-gradient(grey, grey) left/1px calc(100% - 30px), -o-linear-gradient(grey, grey) right/1px calc(100% - 30px), -o-linear-gradient(top left, transparent calc(50% - 1px), grey, transparent calc(50% + 1px)) top left/15px 15px, -o-linear-gradient(top left, transparent calc(50% - 1px), grey, transparent calc(50% + 1px)) bottom right/15px 15px, -o-linear-gradient(top right, transparent calc(50% - 1px), grey, transparent calc(50% + 1px)) top right/15px 15px, -o-linear-gradient(top right, transparent calc(50% - 1px), grey, transparent calc(50% + 1px)) bottom left/15px 15px;
  background: linear-gradient(grey, grey) top/calc(100% - 30px) 1px, linear-gradient(grey, grey) bottom/calc(100% - 30px) 1px, linear-gradient(grey, grey) left/1px calc(100% - 30px), linear-gradient(grey, grey) right/1px calc(100% - 30px), linear-gradient(to bottom right, transparent calc(50% - 1px), grey, transparent calc(50% + 1px)) top left/15px 15px, linear-gradient(to bottom right, transparent calc(50% - 1px), grey, transparent calc(50% + 1px)) bottom right/15px 15px, linear-gradient(to bottom left, transparent calc(50% - 1px), grey, transparent calc(50% + 1px)) top right/15px 15px, linear-gradient(to bottom left, transparent calc(50% - 1px), grey, transparent calc(50% + 1px)) bottom left/15px 15px;
  background-repeat: no-repeat;
}

.nanochrome .caracteristique input:focus {
  background: -o-linear-gradient(red, red) top/calc(100% - 30px) 1px, -o-linear-gradient(red, red) bottom/calc(100% - 30px) 1px, -o-linear-gradient(red, red) left/1px calc(100% - 30px), -o-linear-gradient(red, red) right/1px calc(100% - 30px), -o-linear-gradient(top left, transparent calc(50% - 1px), red, transparent calc(50% + 1px)) top left/15px 15px, -o-linear-gradient(top left, transparent calc(50% - 1px), red, transparent calc(50% + 1px)) bottom right/15px 15px, -o-linear-gradient(top right, transparent calc(50% - 1px), red, transparent calc(50% + 1px)) top right/15px 15px, -o-linear-gradient(top right, transparent calc(50% - 1px), red, transparent calc(50% + 1px)) bottom left/15px 15px;
  background: linear-gradient(red, red) top/calc(100% - 30px) 1px, linear-gradient(red, red) bottom/calc(100% - 30px) 1px, linear-gradient(red, red) left/1px calc(100% - 30px), linear-gradient(red, red) right/1px calc(100% - 30px), linear-gradient(to bottom right, transparent calc(50% - 1px), red, transparent calc(50% + 1px)) top left/15px 15px, linear-gradient(to bottom right, transparent calc(50% - 1px), red, transparent calc(50% + 1px)) bottom right/15px 15px, linear-gradient(to bottom left, transparent calc(50% - 1px), red, transparent calc(50% + 1px)) top right/15px 15px, linear-gradient(to bottom left, transparent calc(50% - 1px), red, transparent calc(50% + 1px)) bottom left/15px 15px;
  background-repeat: no-repeat;
}

.nanochrome table tr td {
  padding: 2px;
}

.nanochrome .item-img {
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  background-color: black;
}

.nanochrome .small-item-img {
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  background-color: black;
}

.nanochrome .smallInput input[type="number"] {
  width: 50px;
  text-align: center;
}

.nanochrome .smallInput input[type="checkbox"] {
  width: 20px;
}

.nanochrome .pointsdevie input[type="checkbox"] {
  margin: 1px 1px;
}

.nanochrome .flex-orderSmallInput {
  width: 100%;
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nanochrome .textareaZone {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 250px;
  justify-items: stretch;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin: 5px 0;
  padding: 0;
}

.nanochrome .textareaZone label {
  grid-row: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.nanochrome .textareaZone textarea {
  grid-row: 2;
  width: calc(100% - 2px) !important;
  height: calc(100% - 2px) !important;
}

.nanochrome .competences textarea {
  height: 150px;
}

.nanochrome .sheet-block {
  border-radius: 1em;
  border: 2px solid black;
  padding: 1em;
  margin: 5px;
}

.nanochrome .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.nanochrome .tab {
  height: 100%;
}

.nanochrome .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.nanochrome .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.nanochrome .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.nanochrome .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.nanochrome .items-list .item-header {
  font-weight: bold;
}

.nanochrome .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.nanochrome .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.nanochrome .items-list .item img {
  display: block;
}

.nanochrome .items-list .item-name {
  margin: 0;
}

.nanochrome .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}
