<div class="sheet-block competences">
    <h3>{{localize 'nanochrome.competences'}}</h3>
    {{#ifCond data.competences.length "===" 0}}
    Aucune compétence.
    {{else}}
    <table>
        {{#each data.competences as |competence id| }}
        <tr class="item" data-item-id="{{competence._id}}">
            <td>{{competence.name}}</td>
            <td class="item-controls">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {{/each}}
    </table>
    {{/ifCond}}
</div>