<div class="sheet-block nexus flex-col flex-center">
    <h3>{{localize 'nanochrome.experience'}}: <label class="smallInput resource-label"><input name="data.experience" type="number" value="{{data.experience}}" data-dtype="Number" /></label></h3>
</div>