<div class="sheet-block nexus flex-col flex-center">
    <h3>{{localize 'nanochrome.nexus'}}</h3>
    <div class="flex-orderSmallInput smallInput">
        <label>Niveau de Pare-feu</label>
        <input name="data.nexus.parefeu" type="number" value="{{data.nexus.parefeu}}" data-dtype="Number" />
    </div>
    <label>Options</label>
</div>