<div class="sheet-block nexus flex-col flex-center">
    <h3>{{localize 'nanochrome.yens'}}: <label class="smallInput resource-label"><input name="data.yens" type="number" value="{{data.yens}}" data-dtype="Number" /></label></h3>
</div>